#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem;
  text-align: center; */
}
* {
  margin: 0;
}
.info-container{
  grid-template-columns: 9rem 1fr 8rem 2rem 8rem;
  background: rgb(49, 135, 237);
  display: grid;
  grid-auto-flow: column;
  padding: 8px 7vw 8px 7vw;
  grid-column-gap: 21px;
}
.info-txt {
  color: #fff;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
}
.search-container{
  grid-template-columns: 13rem 10rem 1fr 16rem 8rem;
  display: grid;
  grid-auto-flow: column;
  padding: 0 7vw 0 7vw;
  grid-column-gap: 15px;
  padding-top: 1rem;
}
.center-horiztl{
  display: flex;
  align-items: center;
}
.clasifle-container{
  gap: 12px;
  display: flex;
  background: rgb(243, 243, 243);
  padding: 13px 22px 13px 22px;
  border-radius: 5px;
}
.search-inp-container{
  display: flex;
  justify-content: space-between;
  background: #f3f3f3;
  border-radius: 6px;
  padding: 13px 22px 13px 22px;
}
.search-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.center-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

}
.clasified-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.clsy-btn{
  padding: 13px 22px 13px 22px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
background: var(--claasifides, #00C6D7);
box-shadow: 0px 11px 27px 0px rgba(0, 198, 215, 0.35);
}
.search-inp{
  border: 0;
  background: transparent;
  outline: none;
  font-size: 15px;
}
.catgory-container{
  margin-top: 1rem;
  padding: 0 7vw 0 7vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  grid-column-gap: 4rem;
}
.font-cat{
  color: #4D4D4D;
  cursor: pointer;
  font-size: 14px;
}
.font-cat:hover{
  color: #b2b2b2;
}
.tab-container{
  background: #FFF;
    padding-bottom: 1.3rem;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.03);
}
.bestdeal-container{
  padding: 1rem 7vw 0 7vw;
}
.best-con{
  display: flex;
  justify-content: space-between;
}
.best-font{
  color:  #000;

font-size: 23px;
font-weight: 600;
}
.all-font{
  color: #3187ED;
font-size: 15px;
font-weight: 600;
}
.prod-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
}

.deal-con{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
}
.deal-container{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(110px, 110px));
  grid-column-gap:10px;
  grid-row-gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;


}
.clasy-sub-con{
  /* margin-bottom: 5rem; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10rem 1fr;
  min-height: 280px;
  grid-column-gap: 15px;
}
.clasy-container{
  padding: 3rem 0 3rem 7vw;
  background-color: #F8F8F8;
}
.arow-container{
  display: flex;
  gap: 35px;
  justify-content: center;
  margin-top: 2rem;
}
.clasy-font{
  text-align: center;
  padding: 0px 8px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.7rem;
}
.hrzdl-align{
  display: flex;
  justify-content: center;
}
.explr-btn{
  display: flex;
  padding: 10px 22px;
  border-radius: 5px;
  gap: 6px;
  background:  #00C6D7;
box-shadow: 0px 11px 27px 0px rgba(0, 198, 215, 0.35);

}
.clasyAll-contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explor-font{
  color: white;
    font-size: 13px;
    font-weight: 600;
}
.card-container{
  background: white;
    width: 230px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 3px -5px 26px 0px rgba(0, 0, 0, 0.06);margin-bottom: 3px;
}
.arrw-con{
  box-shadow: 1px 1px 10px 0px #c9bfbf;
  background: white;
  padding: 6px;
  border-radius: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explor-scroll{
  display: flex;
  overflow-x: overlay;
}
.explor-scroll::-webkit-scrollbar {
  display: none;
}
.card-first{
  height: 75%;
    background: white;
    border-radius: 15px;
}
.card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.card-name{
  color:  #000;
font-size: 12px;
font-weight: 400;
}
.card-price{
  color: #00C6D7;
  font-size: 13px;
  font-weight: 600;
}
.price-container{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.card-locatin{
  font-size: 13px;
  color: #8D8D8D;
  font-weight: 500;
}
.img-cntr{
  display: flex;

  align-items: center;
}
.btn-img{
  height: 20px;
  width: 20;
}
.subscribe-container{
  background-color:  #3187ED;
  height: 100px;
  padding: 2rem 7vw 2rem 7vw;
  display: grid;
        grid-template-columns: 2fr 10fr 10fr;
        grid-column-gap: 30px;
}
.sub-image{
  height: 80%;
  object-fit: contain;
}
.sub-sign-txt{
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.sub-sign-lorm{
  font-size: 13px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}

.sub-card-container{
  display: flex;
  background: white;
  padding: 10px 14px;
  border-radius: 6px;
}
.sub-input{
  border: none;
  outline: none;
  font-size: 15px;
  color: #8D8D8D;

  width: 95%;
}
.subscribe-txt{
  flex: 1 1 0%;
  background: rgb(77, 77, 77);
  padding: 6px 15px;
  text-align: center;
  color: white;
  border-radius: 7px;
  font-size: 15px;
}
.newletter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.subtxt-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  padding: 2rem 7vw 2rem 7vw;
  grid-column-gap: 10px;
}
.footer-font{
  color:#8D8D8D;
  font-size: 13px;
  font-weight: 400;
  margin-top: 2rem;
}
.footer-head{
  font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-sub-font{
  font-size: 13px;
  font-weight: 500;
  color: #8D8D8D;
  margin-bottom: 9px;
}
.question{
  font-size: 12px;
  font-weight: 500;
  opacity: .8;
}
.number{
  font-size: 11px;
  font-weight: 500;
  color: #3187ED;
  margin-top: 2px;
}
.chat{
  font-size: 14px;
  color: #3187ED;
  border: 1px solid #3187ED;
  border-radius: 5px;
  padding: 5px 20px;
}
.chat-continer{
  flex: 2 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo{
  height: 50px;
  object-fit: contain;
}
.footer-ques-contain{
  display: flex;
  margin-top: 18px;
}
.head-img{
  height: 25px;
  object-fit: contain;
}
.store-container{
  display: flex;
  gap: 10;
  margin-top: 25px;
}
.absolute-font{
  position: absolute;
  width: 339px;
  color: white;
  top: 50px;
  right: 33px;
  font-weight: 500;
  font-size: 22px;
  line-height: 2rem;
}
.add-to-crt{
  font-size: 12px;
  font-weight: 600;
  background: #dedee0;
  text-align: center;
  padding: 3px 2px;
  border-radius: 5px;
  margin-top: 6px;
  color: #09090a;
  cursor: pointer;
}
.srch-img{
  height: 20px;
  width: 20px;
}
.arrow-img{
  height: 15px;
  width: 15px;
}
.cart-count{
  position: absolute;
  top: -8px;
  background: #3187ED;
  color: white;
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 500px;
  min-width: 13px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.cartimg-con{
  display: flex;
  align-content: center;
  justify-content: center;

}
.login-logo{
  height: 5rem;
  width: 13rem;
  object-fit: contain;
}
.login-contain{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  margin-top: 4rem;
}
.login-logo-container{
  display: flex;
  justify-content: center;
}
.email-inpt{
  outline: none;
  height: 39px;
  border-radius: 6px;
  border: 1px solid #e4d5d5;
  font-size: 14px;
  padding: 1px 11px;
  flex: 1;
}
.d-flex{
  display: flex;
}
.login-view{
  height: 25rem;
  width: 20rem;
  /* background: rgb(242, 242, 242); */
  padding: 4px 1rem;
  border-radius: 10px;
}
.login-txt{
  text-align: center;
  font-size: 27px;
  margin-bottom: 1.6rem;
  margin-top: 1rem;
  opacity: .5;
  font-weight: 600;
}
.login-btn{
  background: #d8d8d8;
  text-align: center;
  padding: 9px 2px;
  border-radius: 6px;
  margin-top: 1.3rem;
  font-size: 13px;
  font-weight: 700;
}
.dont-accont{
  font-weight: 500;
  margin-top: 1.3rem;
  text-align: center;
  font-size: 14px;
}
.sign-spn{
  color: blue;
  cursor: pointer;
  margin-left: 5px;
}
.line{
  height: .5px;
  background: black;
  display: flex;
  margin-top: 1rem;
  opacity: .5;
}
.google-contain{
  display: flex;
  /* background: #e6e6e6; */
  border: 1px solid #c2b4b4;
  border-radius: 5px;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 3px 3px;
  gap: 10px;
  cursor: pointer;
}
.continue{
  font-size: 13px;
  font-weight: 500;
}
.google-contain:hover{
  background:  #d9d9d9;;
}
.login-btn:hover{
  background: #b7b1b1;
  cursor: pointer;
}


.cart-container{
  padding: 1rem 7vw 0 7vw;
}
.cart-head{
  font-size: 22px;
  font-weight: 500;
}
.cart-line{
  height: .7px;
  background: black;
  opacity: .3;
  display: flex;
  margin-top: 1rem;
}
.cart-card{
  display: grid;
  width: 45%;
  grid-auto-flow: column;
  /* background: #f2f2f2; */
  grid-template-columns: 1fr 2fr ;
  /* height: 75px; */
  border-radius: 11px;
  margin-top: 1rem;
}
.empty{
  color: #000;
  font-size: 14px;
  opacity: .8;
  margin-top: 2rem;
  text-align: center;
}
.cursor{
  cursor: pointer;
}
.cont-btn{
  background: black;
    color: white;
    padding: 2px 11px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart-img{
  object-fit: contain;
  height: 90px;
}

.remove-contain{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.crt-line{
  height: .5px;
  background: black;
  display: flex;
  width: 50%;
  margin-top: 1rem;
  opacity: .2;
}

.remove-btn{
  background: black;
  color: white;
  padding: 4px 20px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: .6rem;
}

.cart-name {
  font-size: 14px;
  font-weight: 500;
}
.cart-quantity{

  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  opacity: .6;
  margin-bottom: 15px;
}
.count-bt-contain{
  display: flex;
  gap: 10px;
  margin-top: 6px;
}
.error{
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  /* margin-bottom: 5px; */
  color: red;
}

@media (max-width: 1140px) {
  .search-container {
    grid-template-columns: 10rem 10rem 1fr 9rem 8rem;
    display: grid;
    grid-auto-flow: column;
    padding: 0 1vw 0 1vw;
    grid-column-gap: 5px;
    padding-top: 1rem;
}
.catgory-container {
  margin-top: 1rem;
  padding: 0 1vw 0 1vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  grid-column-gap: 4rem;
}
.info-container {
  grid-template-columns: 9rem 1fr 8rem 2rem 8rem;
  background: rgb(49, 135, 237);
  display: grid;
  grid-auto-flow: column;
  padding: 8px 1vw 8px 1vw;
  grid-column-gap: 21px;
}




}
@media (max-width: 890px) {
  /* .search-container {
    grid-template-columns: 10rem 10rem 1fr 9rem 8rem;
    display: grid;
    grid-auto-flow: column;
    padding: 0 1vw 0 1vw;
    grid-column-gap: 5px;
    padding-top: 1rem;
}
.catgory-container {
  margin-top: 1rem;
  padding: 0 1vw 0 1vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  grid-column-gap: 4rem;
} */

}
